<AuthorizeView>
    <Authorized>
        <h6 id="myname" href="Identity/Account/Manage">@context.User.Identity.Name</h6>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    @*<NotAuthorized >
       
            <a href="Identity/Account/Register">Register</a>
    
        <a href="Identity/Account/Login">Log in</a>
    </NotAuthorized>*@
</AuthorizeView>
<style>
    h6#myname {
        margin-top: 7px;
        color: #0366d6;
    }
</style>

